<!doctype html>

<html lang="en" ng-app="Mukijs">
<head>
    <meta charset="utf-8">

    <title>Muki.js</title>
    <meta name="description" content="Muki.js">
    <meta name="author" content="Muki.js">

    <link rel="stylesheet" href="stylesheets/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="javascripts/app.min.js"></script>

</head>

<body>
    <div id="main" ng-controller="MukiCtrl">
        快速搜尋
        <input type="text" ng-model="search">

        <div class="questionBox" ng-repeat="(key, value) in q | filter: search">
            <div>#{{ qlength - key }}</div>

            <!-- https://www.gravatar.com/avatar/70b9ab448fc31a3a2f646087c32fed51?s= -->
            <div class="question" ng-bind-html="value.question"></div>

            ---
            <!-- <div>{{ value.answer }}</div> -->
            <div class="answer" ng-bind-html="value.answer"></div>

            <a href="{{ value.link }}">link</a>
        </div>
    </div>
</body>
</html>
