<!doctype html>

<html lang="en" ng-app="Mukijs">
<head>
    <meta charset="utf-8">

    <title>Muki.js</title>
    <meta name="description" content="Muki.js">
    <meta name="author" content="Muki.js">

    <link rel="stylesheet" href="stylesheets/styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="javascripts/app.min.js"></script>

</head>

<body>
    <div id="main" ng-controller="MukiCtrl">
        快速搜尋
        <input type="text" id="search-box" ng-model="search">

        <div>
            問題數量 {{ (q |filter:search).length }} on Page {{ qPage }}
        </div>

        <!-- 分頁 -->

        <pagination total-items="(q |filter:search).length" page="qPage" max-size="10" ></pagination>

        <!-- 問題開始 -->
        <div id="main-warp" class="container">
            <div class="questionBox" ng-repeat="(key, value) in q | filter: search | slice:(qPage-1)*pageItems:(qPage)*pageItems">
                <div>#{{ key +1 }}</div>

                <!-- https://www.gravatar.com/avatar/70b9ab448fc31a3a2f646087c32fed51?s= -->
                <div class="question" ng-bind-html="value.question"></div>

                ---
                <div class="answer" ng-bind-html="value.answer"></div>

                <a target="_blank" href="http://ask.fm{{ value.link }}" >link</a>
            </div>
        </div>
        <!-- 問題結束 -->
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48209454-2', 'mukijs.github.io');
      ga('send', 'pageview');

    </script>
</body>
</html>
